.DS_Store
.ninja_deps
.ninja_log
.vscode/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
bin/*
build.ninja
build/
cmake_install.cmake
include/*
install_manifest.txt
libSapo.*
libSapo/doc
libSapo/tests/test_*
libSapo/src/Version.cpp
sapo/*.err
sapo/*.out
sapo/bin/*
sapo/include/locations.h
sapo/include/parser.h
sapo/src/parser.cpp
sapo/src/scanner.cpp 
scripts/run-tests.bash
uftrace.data*/
